form {
    background-color: white;
    display: grid;
    gap: 24px;
}

form .form-group {
    display: grid;
    gap: 4px;
}

form input {
    border: none;
    padding: 16px;
    border: 1px solid #64748B;
    border-radius: 4px;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #047857;
    color: white;
    cursor: pointer;
}